body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

a {
    color: white;
    text-decoration: none;
}

#desktop {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #1e1e1e70;
}

#me {
    width: 120px;
    position: absolute;
    right: 36px;
    border-radius: 12px;
}

#nav {
    position: absolute;
    display: block;
    z-index: 100;
    width: 100%;
    background: #1e1e1e70;
    height: 36px;
}

#navitems>* {
    padding-right: 8px;
    padding-top: 8px;
    margin-left: 12px;
}

#navitems>a{
    font-weight: 300;
}

#navitems>a:first-of-type{
    font-weight: 600;
}

#navbg {
    display: block;
    position: absolute;
    z-index: 0;
    background-image: url(https://64.media.tumblr.com/3e4aa5b89b9fc65c2094eb8527c6a19d/4fe9549e244dadc7-ad/s1280x1920/100afbfb411955e27ebcf3024877d518c1be2209.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
}


.blur {
    position: absolute;
    z-index: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    height: 36px;
    width: 100%;
}


#bg {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: -10;
}

h1 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: "Sporting Grotesque_Regular";

}

body {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    line-height: 1.5rem;
    font-size: 0.9rem;
    opacity: 0.7;
}

#browser {
    border: 2px white solid;
    border-radius: 20px;
    width: 60%;
    max-width: 750px;
    position: absolute;
    background: #1e1e1e;
    top: 80px;
    left: 200px;
    transform: scale(0);
    transition: transform 0.2s ease-out;
}

.controls{
    width: 126px;
    height: 100%;
    z-index: 20;
}

#browser-content {
    margin: 80px;
}

#browsernav {
    height: 24px;
    background: white;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 2px white solid;
    width: 100%;
}

h2 {
    font-weight: 700;
    padding-top: 6px;
    position: absolute;
    width: 20%;
    left: 40%;
    text-align: center;
    color: black;
    text-transform: uppercase;
    top: 0;
    font-size: 12px;
}

#browsernav div div{
float: left;
    width: 24px;
    height: 24px;
    border-right: 2px white solid;
    border-top: none;
}

.clear{
    float: none;
}

#desktopnav {
    position: absolute;
    right: 36px;
    top: 72px;
}

.folders {
    width: 72px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 36px;
}

.folders img {
    width: 64px;
    padding-bottom: 4px;
}




.red {
    background: #ED6A5E;
    border-top-left-radius: 18px;
}

.yellow {
    background: #F5BD4F;
}

.green {
    background: #53AA45;
}
