body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    vertical-align: auto;
}

#resume {
    transform: scale(0);
    background: #ffffff98;
    backdrop-filter: blur(30px);
    color: #1e1e1e;
}

#resume .separator{
    border-bottom: solid rgba(0, 0, 0, 0.3) 1px;

}

.separator {
    border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.font-box{
    border: solid 1px #1e1e1e40;
    width: fit-content;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-top:  */
    height: 24px;
}

#color-picker{
    width: 24px;
    height: 24px;
    background: #1e1e1edd;
    border: solid 2px lightgray;
    box-sizing: border-box;
}

#text-edit-1>*,#text-edit-2>*,#text-edit-3>*{
    float: left;
    margin-top: 8px;
    margin-left: 6px;
    border-radius: 8px;
}

#text-edit p{
    font-size: 0.7rem;
}

#text-edit{
    display: flex;
    justify-content: space-between;
}

#links {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 12px;
    margin-left: -12px;
    margin-top: 6px;
    border: solid rgba(255, 255, 255, 0.3) 1px;
    display: none;
}

#nav {
    vertical-align: top;
}

ul p {
    line-height: 1.4rem;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: solid rgba(255, 255, 255, 0.15) 1px;
    width: 90px;

}

ul{
    backdrop-filter: blur(18px);
}

ul a:last-of-type p {
    border-bottom: solid rgba(255, 255, 255, 0.15) 0px;
}

a {
    color: white;
    text-decoration: none;
}

#desktop {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #1e1e1e70;
}


#desktopnav {
    position: absolute;
    right: 36px;
    top: 72px;
}

#me {
    width: 110px;
    border-radius: 8px;
}

.left-col {
    width: 70%;
    float: left;
    margin-right: 5%;
    /* Firefox */
    width: -moz-calc(95% - 110px);
    /* WebKit */
    width: -webkit-calc(95% - 110px);
    /* Opera */
    width: -o-calc(95% - 110px);
    /* Standard */
    width: calc(95% - 110px);
}

.right-col {
    float: right;
}

#nav {
    position: absolute;
    display: block;
    z-index: 500;
    width: 100%;
    background: #1e1e1e70;
    height: 36px;
}

#navitems>* {
    padding-right: 8px;
    padding-top: 6px;
    margin-left: 18px;
    float: left;
}

#apple {
    padding-top: 10px;
    color: white;
}

#left-arrow,#right-arrow{
    float: left;
    padding-right: 2px;
    margin: auto;
    width: 8px;
    height: 12px;
    padding: 12px;
}

#search-inside p{
    color: #1e1e1e;
    font-size: 0.7rem;
    float: left;
    width: fit-content;
    opacity: 1;
    height: 24px;
    margin-left: 6px;
    padding-left: 6px;
    margin-top: 6px;
    background: #1e1e1e20;
    border-radius: 90px;
    width: calc(100% - 82px);
}

#info-icon{
    padding-right: 8px;
    color: #1e1e1e70;
}

#text-edit-2 p i, #text-edit-3 p i{
    border-right: solid 1px #1e1e1e30;
    padding-right: 6px;
    padding-left: 2px;
}

#text-edit-3 p i{
    font-weight: 600;
}

#text-edit-3{
    float: right;
    padding-right: 6px;
}

#underline-icon{
    font-size: 0.9rem;
    padding-top: 5px;
    font-weight: 600;
}

#search-inside{
    width: 100%;
}

.white-bg{
    background: white;
    height: 60px;
    border-radius: 18px 18px 0px 0px ;
}


#search-bar{
    width: 100%;
    height: 36px;
}

i{
    color: #1e1e1e;
    font-size: 0.8rem;
}

#navitems>p {
    font-weight: 400;
}

#navitems>a:first-of-type {
    font-weight: 600;
}

#navbg {
    display: block;
    position: absolute;
    z-index: 0;
    background-image: url(https://64.media.tumblr.com/3e4aa5b89b9fc65c2094eb8527c6a19d/4fe9549e244dadc7-ad/s1280x1920/100afbfb411955e27ebcf3024877d518c1be2209.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
}


.blur {
    position: absolute;
    z-index: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    height: 36px;
    width: 100%;
}


#bg {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: -10;
}

h1 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: "Sporting Grotesque_Regular";
    padding-bottom: 1.8rem;
}

.section-title h1 {
    padding-bottom: 0.4rem;
}

.section-title {
    margin-bottom: 1rem;
}

body {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    line-height: 1.5rem;
    font-size: 0.9rem;
    opacity: 0.8;
}

#navitems p {
    opacity: 1;
}

.window {
    border: 2px white solid;
    border-radius: 20px;
    max-width: 50%;
    position: absolute;
    background: #1e1e1e90;
    backdrop-filter: blur(20px);
    /* top: 120px;
    left: 200px; */
    transform: scale(0);
    transition: transform 0.2s ease-out;
    width: fit-content;
    filter: drop-shadow(0px 0px 10px #2e2e2e80);
    min-width: 600px;
}

.float-right{
    float: right;
}

#projects i{
    padding: 12px;
    float: left;
}

#tops, #bottoms, #dresses, #outerwear, #shoes, #jewelry, #accessories{
    width: 60%;
}

#browser {
    width: 70%;
}

.controls {
    width: 126px;
    height: 24px;
    z-index: 20;
}

.content {
    padding: 72px;
    margin: 8px;
}

.navbar {
    height: 60px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 59%, rgba(235,235,235,1) 71%, rgba(246,246,246,1) 81%);    border-radius: 12px 12px 0px 0px;
    border-bottom: 2px white solid;
    width: 100%;
}

h2 {
    font-weight: 700;
    padding-top: 6px;
    position: absolute;
    width: 20%;
    left: 40%;
    text-align: center;
    color: black;
    text-transform: uppercase;
    top: 0;
    font-size: 12px;
}

#edu {
    margin-top: 3rem;
}

.content {
    overflow-y: scroll;
    max-height: 380px;

}

.resume-item {
    margin-bottom: 2.4rem;
}

.resume-item:last-child {
    margin-bottom: 0;
}

h4 {
    opacity: .5;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.resume-body {
    font-size: 0.8rem;
    line-height: 1.3rem;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

h3 {
    margin-bottom: 8px;
    line-height: 1.5rem;
}

h4 {
    margin-bottom: 8px;
}

figure {
    width: 22%;
    padding-right: 4%;
}

figure:nth-child(4n) {
    padding-right: 0;
}

figure img {
    width: 100%;
}

figcaption p {
    font-size: 0.7rem;
    padding-bottom: 20px;
    opacity: 0.5;
    text-align: center;
    line-height: 1rem;
}

.wardrobe-gallery figure {
    float: left;
    display: block;
}

.wardrobe-gallery {
    padding-left: 1.7em;
}

figure:last-of-type {
    padding-bottom: 1.4rem;
}

.wardrobe-toggle:last-of-type {
    padding-bottom: 1.8rem;
}



.navbar .controls div {
    float: left;
    width: 24px;
    height: 24px;
    border-right: 2px white solid;
    border-top: none;
}

.clear {
    float: none;
    clear: both;
}

.folders {
    width: 90px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 36px;
}

.folders img {
    width: 90px;
    padding-bottom: 8px;
}

#projects .folders {
    width: 90px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 36px;
    float: left;
    padding-right: 36px;
}
/*
#projects .folders:nth-of-type(5){
    padding-right: 0;
} */

#tops, #bottoms, #dresses, #accessories, #shoes, #jewelry, #outerwear{
    background: #ffffff10;
    color: white;
    backdrop-filter: blur(90px);

}


.red {
    background: #ED6A5E;
    border-top-left-radius: 18px;
}

.yellow {
    background: #F5BD4F;
}

.green {
    background: #53AA45;
}

summary {
    font-size: 0.8rem;
    line-height: 1.8rem;
}
